/* primary color : #06163d */
/* secondary color : #5e1a01 */
/* font-family: 'Merriweather Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&family=Monoton&display=swap');
.componentcard{
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    width: 322px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(163, 159, 159);
    height: 460px;
}
.componentcard-image{
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.componentcard-name{
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 10px;
}
.componentcard-tagline{
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 10px;
}
.componentcard-rating{
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding-top: 10px;
    color: #06163d;
}
.componentcard-price{
    font-family: 'Merriweather Sans', sans-serif;
    /* text-align: right; */
    color: #fff;
    padding: 5px;
    background-color:#06163d ;
    position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: fit-content;
    border-radius: 10px;
}