.slider{
    margin: 20px;
}
.slider-head{
    margin: 10px;
    font-family: 'Merriweather Sans', sans-serif;
}
.slider-card{
    margin: 20px;
    padding: 0px;
    justify-content: center;
}
.slider-image{
    margin:0;
    padding: 0;
    height: 300px;
    width: 300px;
}
.slider-button{
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    width: 30%;
    height: 30px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #06163d;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}